body {
	font-size: 18px;
	color: #ffffff;
	background-image: url(resources/abstract-astro.jpg); /*This background image was obtained from http://subtlepatterns.com/?s=stardust and it was created by http://www.atlemo.com/*/
	background-repeat: repeat;
	padding-left: 150px;
	padding-right: 150px;
}

.header {
	display: flex;
	justify-content: center;
	font-family: 'Comic Sans MS';
	grid-area: header;
	padding: 30px;
	border-bottom-style:groove;
	border-bottom-width:thin;
}

	.header > div {
		color:azure;
		border-style:dotted;
		border-width:thin;
		width: 300px;
		margin: 0px;
		text-align: center;
		line-height: 30px;
	}

h1 {
	font-size:25px;
}

.sidebar {
	grid-area: menu;
	border-right-style:groove;
	border-right-width:thin;
	padding:30px;
}

#Pic{
	border-radius: 100px;
	position:relative;
	left: 10px;
	top: auto;
	width: 180px;
	height: 180px;
}

.info {
	grid-area: main;
}

.grid-container {
	display: grid;
	grid-template-areas: 'header header header header header header' 'menu menu main main main main';
	grid-gap: 0px;
}

	.grid-container > div {
		text-align: center;
	}
